.btn-primary{
      background-color: #1F5B56;
      border-radius: 0.5rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.95rem;
    color: #FFFF
}
.text-primary{
      color: #1F5B56;
}